body
{
    background-color: blueviolet;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    height: 100vh;
    margin: 0;
}

.box
{ 
    width: 200px;
    height: 150px;
    background-color: gold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
}

h1
{
    text-align: center;
    font-family: consolas;
    color:red;
}

.A
{
    font-family: consolas;
    color: rgb(0, 255, 234);
}

.B
{
    font-family: cursive;
    color:black;
}

dl
{
    font-family: cursive;
    color: rgb(0, 255, 234);
}